/* Geral */

@media screen and (min-width: 960px) and (max-width:1980px) { 
    .menu-mobile {
        display: none;
    }

    .logo-mobile {
        display: none;
    }

    .escritorio-mobile {
        display: none;
    }
    
}

/* Tablet -iPad Mini */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .menu {
        display: none;
    }

    .menu-mobile {
        float: right;
        margin-top: -82px;
        margin-right: 50px;
    }

    .menu-mobile .fa-solid {
        color: white;
    }

    .menu-mobile .fa-solid:hover {
        color: #deaf77;
        transition: 0.5s;
    }

    .logo2 {
        display: none;
    }

    .logo-mobile img {
        height: 50px;
        margin-left: 250px;
        margin-bottom: -50px; 
    }

    .defesa {
        all: unset;
        font-family: poppins;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }

    .defesa h1 {
        font-size: 25px;
        margin-top: -450px;
        background-color: #022135;
        border-radius: 30px 0px 30px 0px;
        box-shadow: 5px 5px 0px 0px rgba(255, 255, 255, 0.486);
        margin-left: 90px;
        margin-right: 90px;
    }

    /* Seçao 2 */

    .secao-2 {
        height: 1200px;
    }

    .selo img {
        margin-left: 300px;
    }

    .escritorio {
        display: none;
    }

    .escritorio-mobile img {
        height: 400px;
        margin: 100px 216px 30px 216px;
        border-radius: 30px 30px 30px 30px;
        box-shadow: 20px 20px 10px -5px #022135;
    }

    .escritorio-mobile h1 {
        color: #022135;
        font-family: poppins;
        font-size: 35px;
        text-transform: uppercase;
        white-space: nowrap;
        border-bottom: 5px solid #022135;
        width: 3%;
        margin-left: 50px;
        margin-bottom: 50px;
        margin-top: 80px;
    }

    .escritorio-mobile p {
        font-family: poppins;
        font-size: 15px;
        padding: 50px;
        text-align: justify;
        margin-top: -80px;
        text-indent: 40px;
    }

}

/*Tablet 2*/

@media only screen and (max-width: 1199px) {
    
	
}

@media only screen and (max-width: 1680px) and (min-width: 1200px) {
    .menu a {
        padding-right: 5px;
        padding-left: 5px;
    }

    .menu-mobile {
        display: none;
    }

    /* Seçao 1 */

    .secao-1 .menu a {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .secao-1 .logo2 {
        margin-left: 0px;
    }

    .secao-1 .defesa {
        margin-left: 35px;
    }

    /* Secao 2 */

    .escritorio .matheus1 img {
        min-width: 20%;
        margin-left: 50px;
        box-shadow: 30px 30px 0px 10px #022135;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .escritorio p {
        font-size: 20px;
        margin-right: 50px;
        margin-left: 505px;
    }

    .escritorio h1 {
        margin-left: 505px;
    }

    /* Secao 3 */

    .secao-3 {
        height: 1350px;
        padding-right: 50px;
        padding-left: 50px;
    }

    .bloco1, .bloco2, .bloco3, .bloco4 {
        margin: auto;
    }

    .bloco3, .bloco4 {
        margin-top: -100px;
    }

    .secao-3-h1 {
        height: 50px;
        margin-bottom: -80px;
    }

    /* Secao 4 */

    .tel {
        width: 55%;
        padding-left: 0px;
        height: 800px;
    }

    .tel h1 {
        margin-left: -220px;
        white-space: nowrap;
    }

    .tel p, h2, .botao2 {
        margin-left: -220px;
    }

    .botao2 {
        margin-top: -250px;
    }

    .contato img {
        margin-top: -690px;
        margin-right: 150px;
    }

    /* Secao 5 */

    .local {
        height: 570px;
    }

    .local h2 {
        padding: 20px 0px 20px 200px;
    }

    .mapa iframe {
        height: 400px;
        padding: 10px 80px 0px 80px;
    }

}