/* Geral */

@media screen and (min-width: 1199px) and (max-width:2600px) { 
    .menu-mobile {
        display: none;
    }

    .logo-mobile {
        display: none;
    }

    .escritorio-mobile {
        display: none;
    }

    .secao-3-mobile, .secao-3-h1-mobile {
        display: none;
    }

    .contato-mobile {
        display: none;
    }
    
    .mapa-site-mobile {
        display: none;
    }

    .selo-mobile {
        display: none;
    }

    .matheus2 {
        display: none;
    }

}

/* Tablet -iPad Mini */

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    * {
        margin: 0px;
        padding: 0px;
        
    }

    /* Seçao 1 */

    .secao-1 {
        margin-bottom: -20px;
    }

    .menu {
        display: none;
    }

    .menu-mobile {
        float: right;
        margin-top: -82px;
        margin-right: 50px;
    }

    .menu-mobile .fa-solid {
        color: white;
    }

    .menu-mobile .fa-solid:hover {
        color: #deaf77;
        transition: 0.5s;
    }

    .logo2 {
        display: none;
    }

    .logo-mobile img {
        height: 50px;
        margin-left: 250px;
        margin-bottom: -50px; 
    }

    .defesa {
        all: unset;
        font-family: poppins;
        color: white;
        text-align: center;
        text-transform: uppercase;
    }

    .defesa h1 {
        font-size: 25px;
        margin-top: -450px;
        background-color: #022135;
        border-radius: 30px 0px 30px 0px;
        box-shadow: 5px 5px 0px 0px rgba(255, 255, 255, 0.486);
        margin-left: 90px;
        margin-right: 90px;
    }

    /* Seçao 2 */

    .selo {
        display: none;
    }

    .escritorio {
        display: none;
    }

    .secao-2 {
        height: 1140px;
    }

    .selo-mobile {
        display: grid;
    }

    .selo-mobile img {
        height: 180px;
        margin: auto;
        margin-top: -90px;
    }

    .matheus2 {
        padding-top: 110px;
        width: 100%;
        display: grid;
    }

    .matheus2 img {
        height: 400px;
        border-radius: 30px 30px 30px 30px;
        box-shadow: 20px 20px 10px -5px #022135;
        margin: auto;
    }

    .escritorio-mobile h1 {
        color: #022135;
        font-family: poppins;
        font-size: 35px;
        text-transform: uppercase;
        white-space: nowrap;
        border-bottom: 5px solid #022135;
        width: 3%;
        margin-left: 50px;
        margin-bottom: 50px;
        margin-top: 80px;
    }

    .escritorio-mobile p {
        font-family: poppins;
        font-size: 15px;
        padding: 50px;
        text-align: justify;
        margin-top: -80px;
        text-indent: 40px;
    }

    /* Seçao 3 */

    .secao-3 {
        display: none;
    }

    .secao-3-mobile {
        background-color: #022135;
        height: 2550px;
    }

    .secao-3-mobile li {
        font-family: poppins;
        color: white;
        list-style-type: none;
        font-size: 15px;
        margin-top: 10px;
    }

    .secao-3-mobile h3 {
        font-family: poppins;
        color: white;
        font-size: 25px;
        margin-bottom: 25px;
        text-transform: uppercase;
    }

    .secao-3-mobile .bloco1-mobile h3 {
        white-space: nowrap;
    }

    .secao-3-mobile .bloco1-mobile, .bloco2-mobile, .bloco3-mobile, .bloco4-mobile {
        background-color: #305f7b;
        padding: 20px 50px 300px 50px;
        height: 550px;
        width: 400px;
        margin: auto;
        box-shadow: 12px 12px 0px 1px #deb077b0;
        margin-bottom: 80px;
        border-radius: 10px;
    }

    .secao-3-mobile .fa-solid {
        width: 100%;
        text-align: center;
        font-size: 50px;
    }

    .bloco4-mobile {
        font-family: poppins;
        color: white;
        font-size: 15px;
    }

    /* Seçao 4 */

    .contato {
        display: none;
    }

    .contato-mobile {
        height: 580px;
        background-color: rgb(243, 239, 239);
        margin-top: -20px;
    }

    .contato-mobile img {
        height: 300px;
        float: right;
        margin-right: 50px;
        margin-top: 130px;
        border-radius: 20px;
        box-shadow: 0px 0px 8px 1px #022135;
    }

    .contato-mobile .tel h1 {
        padding-top: 80px;
        margin-left: 50px;
        font-family: poppins;
        color: #022135;
        width: 3%;
        border-bottom: 5px solid #022135;
        white-space: nowrap;
        text-transform: uppercase;
    }

    .contato-mobile .tel p {
        font-family: poppins;
        color: #022135;
        width: 56%;
        margin-left: 50px;
        margin-bottom: 40px;
    }

    .contato-mobile .fa-solid {
        margin-left: 50px;
        font-size: 28px;
    }

    .contato-mobile i {
        margin-right: 20px;
        
    }

    .botao2 {
        width: 30%;
        white-space: nowrap;
        margin-top: 40px;
    }
    
    .contato-mobile .botao {
        font-family: poppins;
        border: none;
        background-color: #022135;
        padding: 20px 20px 20px 20px;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 50px;
        margin-left: 130px;
    }

    .contato-mobile .botao:hover {
        background-color: #deaf77;
        transition: 0.2s;
        color: #022135;
    }

    /* Seçao 5 */

    .local {
        height: 630px;
    }

    .local h2 {
        padding: 20px 0px 20px 0px;
    }

    .local .mapa {
        margin-top: -70px;
        padding: 0px 50px 0px 50px;
    }

    /* Seçao 6 */

    .mapa-site {
        display: none;
    }

    .mapa-site-mobile {
        background-color: rgb(243, 239, 239);
        color: #022135;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        padding: 5px;
        height: 350px;
    }

    .mapa-site-mobile h3 {
        font-family: poppins;
        color: #022135;
        margin-top: 50px;
        font-size: 22px;
        white-space: nowrap;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .mapa-site-mobile ul {
        margin: auto;
    }


    .mapa-site-mobile li {
        list-style-type: none;
        padding: 6px 0px 6px 0px;
        font-size: 16px;
        text-transform: uppercase;
    }

    .mapa-site-mobile li a {
        text-decoration: none;
        color: #022135;
    }

    .mapa-site-mobile .ms1, .ms2, .ms3 {
        margin-left: 0px;
        padding-left: 10px;
    }

    .mapa-site-mobile .ms1 li a:hover {
        color: #deaf77;
        transition: 0.2s;
    }

    .mapa-site-mobile .ms2 li a:hover {
        color: #deaf77;
        transition: 0.2s;
    }


    .mapa-site-mobile .ms1 {
        width: 50%;
        margin-left: 25px;
    }

    .mapa-site-mobile .ms2 {
        margin-left: -20px;
    }

    .mapa-site-mobile .ms3 h3 {
        font-size: 22px;
    }

    .mapa-site-mobile .ms3 li {
        font-size: 13px;
        margin-right: 25px;
    }

    .mapa-site-mobile .ms4  {
        padding: 0px 0px 0px 0px;
        margin-top: 10px;
        text-align: center;
        width: 277%;
        
    }

    .mapa-site-mobile .ms4 .fa-brands {
        margin-top: 20px;
        font-size: 30px;
        color: #022135;
    }

    .mapa-site-mobile .ms4 .fa-brands:hover {
        color: #deaf77;
        transition: 0.2s;
    }

    /* Footer */

    .footer {
        font-size: 15px;
    }

    .footer .p1 {
        margin-left: 50px;
        margin-right: 50px;
    }

}

/*Tablet 2*/

@media only screen and (max-width: 1199px) {
    
	
}

@media only screen and (max-width: 1680px) and (min-width: 1200px) {
    .menu a {
        padding-right: 5px;
        padding-left: 5px;
    }

    .menu-mobile {
        display: none;
    }

    /* Seçao 1 */

    .secao-1 .menu a {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .secao-1 .logo2 {
        margin-left: 0px;
    }

    .secao-1 .defesa {
        margin-left: 35px;
    }

    /* Secao 2 */

    .escritorio .matheus1 img {
        min-width: 20%;
        margin-left: 50px;
        box-shadow: 30px 30px 0px 10px #022135;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .escritorio p {
        font-size: 20px;
        margin-right: 50px;
        margin-left: 505px;
    }

    .escritorio h1 {
        margin-left: 505px;
    }

    /* Secao 3 */

    .secao-3 {
        height: 1350px;
        padding-right: 50px;
        padding-left: 50px;
    }

    .bloco1, .bloco2, .bloco3, .bloco4 {
        margin: auto;
    }

    .bloco3, .bloco4 {
        margin-top: -100px;
    }

    .secao-3-h1 {
        height: 50px;
        margin-bottom: -80px;
    }

    /* Secao 4 */

    .tel {
        width: 55%;
        padding-left: 0px;
        height: 800px;
    }

    .tel h1 {
        margin-left: -220px;
        white-space: nowrap;
    }

    .tel p, h2, .botao2 {
        margin-left: -220px;
    }

    .botao2 {
        margin-top: -250px;
    }

    .contato img {
        margin-top: -690px;
        margin-right: 150px;
    }

    /* Secao 5 */

    .local {
        height: 570px;
    }

    .local h2 {
        padding: 20px 0px 20px 200px;
    }

    .mapa iframe {
        height: 400px;
        padding: 10px 80px 0px 80px;
    }

}