@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

.cor1 {color: #022135;}
.cor2 {color: #deaf77;}
.cor3 {color: #305f7b;}

/* Seçao 1 */

.secao-1 {
    background-color: #022135;
    padding-top: 1px;
}

.header {
    height: 750px;
    width: 100%;
    background: url(../img/img2.png) no-repeat bottom;
    background-size: cover;
    margin-top: 70px;
}

.logo2 {
    height: 500px;
    width: 500px;
    margin-top: -330px;
    margin-left: 300px;
}

.menu {
    background-image: linear-gradient(to bottom, #022135, rgba(255, 255, 255, 0));
    height: 100px;
}

.menu a {
    font-family: poppins;
    font-size: 20px;
    color: white;
    text-decoration: none;
    float: right;
    padding: 10px;
    margin: 10px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: -45px;
}

.menu a:hover {
    color: #deaf77;
    transition: 0.5s;
}

.secao-1 .defesa {
    margin-left: 280px;
    padding: 0px 6px 0px 6px;
}

.defesa {
    font-family: poppins;
    color: white;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    background-color: #022135;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 5px 5px 0px 0px rgba(255, 255, 255, 0.486);
    margin-top: -400px;
    }

/* Fim Seçao 1 */

/* Inicio Seçao 2 */

.secao-2 {
    height: 900px;
    width: 100%;
    background-color: rgb(243, 239, 239);
}

.selo img {
    height: 180px;
    width: 180px; 
    margin-top: -85px;
    margin-left: 45%;
}

.escritorio {
    margin-top: 90px;
}

.escritorio h1 {
    font-family: poppins;
    font-size: 35px;
    margin-left: 40%;
    text-transform: uppercase;
    margin-right: 1090px;
    white-space: nowrap;
    border-bottom: 5px solid #022135;
    margin-left: 755px;
}

.escritorio p {
    font-family: poppins;
    font-size: 20px;
    margin-left: 40%;
    margin-right: 280px;
    text-align: justify;

    margin-left: 755px;
}

.escritorio .matheus1 img {
    width: 40vh;
    margin-left: 280px;
    margin-top: -10px;
    position: absolute;
    box-shadow: 30px 30px 0px 10px #022135;
    border-radius: 10px 10px 0px 10px;
}

/* Fim Seçao 2 */

/* Inicio Seçao 3 */

.secao-3-h1 {
    background-color: #022135;
    color: white;
    font-family: poppins;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 50px 10px 80px 10px;
    text-transform: uppercase;
}

.secao-3 {
    background-color: #022135;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px; /* Espaçamento entre os blocos */
    padding: 0px; /* Espaçamento interno do container */
    height: 1200px;
}


/* Estilização dos blocos individuais */
.bloco1, .bloco2, .bloco3, .bloco4 {
    background-color: #305f7b; /* Cor de fundo dos blocos */
    padding: 30px 10px 30px 10px; /* Espaçamento interno dos blocos */
    padding: 20px;
    height: 500px;
    width: 480px;
    box-shadow: 12px 12px 0px 1px #deb077b0;
}

.bloco1, .bloco3 {
    margin-left: 380px;
    margin-right: 10px;
    padding: 20px;
}

.bloco2, .bloco4 {
    margin-right: 380px;
    margin-left: 20px;
}

.secao-3 h3 {
    margin-bottom: 20px; /* Espaçamento abaixo dos títulos */
    font-size: 1.5em; /* Tamanho da fonte dos títulos */
    color: #333; /* Cor da fonte dos títulos */
    font-family: poppins;
    text-transform: uppercase;
    color: white;
}

.secao-3 ul {
    list-style: none; /* Remove as bolinhas da lista */
    
}

.secao-3 ul li {
    margin-bottom: 10px; /* Espaçamento entre os itens da lista */
    font-size: 1em; /* Tamanho da fonte dos itens da lista */
    color: #555; /* Cor da fonte dos itens da lista */
    font-family: poppins;
    text-indent: 20px;
    color: white;
    
}

.secao-3 p {
    margin-bottom: 5px; /* Espaçamento abaixo dos parágrafos */
    font-size: 1em; /* Tamanho da fonte dos parágrafos */
    color: #555; /* Cor da fonte dos parágrafos */
    color: white;
    font-family: poppins;
}

.fa-solid {
    color: #deaf77;
    font-size: 35px;
    padding: 20px 0px 20px 0px;
}

/* Fim Seçao 3 */

/* Inicio Seção 4 */

.contato {
    height: 800px;
    background-color: rgb(243, 239, 239);
    margin-top: -23px;
}

.contato .tel h1 {
    font-family: poppins;
    font-size: 35px;
    padding-top: 120px;
    width: 50%;
    padding-left: 280px;
    color: #022135;
    text-transform: uppercase;
}

.contato h2 {
    padding-left: 280px;
    font-family: poppins;
    font-size: 25px;
    margin-bottom: 20px;
    color: #022135;
}

.contato .tel p {
    font-family: poppins;
    width: 50%;
    padding-left: 280px;
    margin-top: 10px;
    margin-bottom: 80px;
    font-size: 17px;
}

.contato img {
    height: 600px;
    float: right;
    margin-right: 380px;
    margin-top: -470px;
    box-shadow: 0px 0px 10px 2px #022135;
    border-radius: 10px;
}

.contato .fa-solid {
    color: #022135;
    padding-right: 20px;
    padding-top: 10px;
}

.contato .botao {
    font-family: poppins;
    border: none;
    margin-left: 280px;
    background-color: #022135;
    padding: 23px 23px 23px 23px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 25px;
}

.contato .botao:hover {
    color: #022135;
    background-color: #deaf77;
    transition: 0.5s ease;
}

/* Fim Seçao 4 */

/* Inicio Seçao 5 */

.local {
    height: 800px;
    background-color: #022135;
}

.local h2 {
    padding-top: 70px;
    color: white;
    text-align: center;
    font-family: poppins;
    text-transform: uppercase;
}

.mapa iframe {
    width: 100%;
    height: 550px;
    padding-top: 70px;
}

/* Fim Seção 5 */

/* inicio Seção 6 */

.mapa-site {
    height: 480px;
    background-color: rgb(243, 239, 239);
    color: #022135;
    display: flex;
    gap: 10px;
}

.mapa-site a {
    text-decoration: none;
    color: #022135;
}

.mapa-site h3 {
    font-family: poppins;
    text-transform: uppercase;
    font-size: 28px;
    padding: 10px;
    margin-top: 110px;
    font-weight: normal;
}

.mapa-site ul {
    list-style-type: none;
}

.mapa-site li {
    padding: 10px;
    font-family: poppins;
    text-transform: uppercase;
    font-size: 15px;
}

.ms1, .ms2, .ms3, .ms4 {
    flex-basis: calc(20% - 10px); /* Colunas 50% com margem entre elas */
    padding-left: 50px;
    margin-left: 50px;
}

.ms4 {
    margin-top: 120px;
    margin-bottom: 280px;
}

.ms4 i {
    font-size: 25px;
    padding: 20px;
}

/* Fim Seção 6 */

/* Inicio Seçao 7 */

.footer {
    height: 50px;
    background-color: #333;
    color: white;
    font-family: poppins;
    padding: 10px;
}

.footer .p1 {
    float: left;
    margin-left: 20%;
}

.footer .p2 {
    margin-left: 50%;
}

/* Fim Seção 7 */

